nav {
    font-family: Arial, Helvetica, sans-serif;
    /* Either of the three, whichever one is available */
    background-color: rgb(14, 14, 14);
    color: lightgreen;
    font-weight: bold;
    font-style: inherit;
    font-size: 16px;
    height: 20px;

}

.colorPrimary {
    background-color: black;
    color: lightgreen;
    font-family: 'Lora', serif;
}

a{
    color: lightgreen;
}