*{
    box-sizing: border-box;
    font-weight: bolder;
}

 .image{
    margin-left: 190px;
    margin-bottom: 2px;
    border: 4px solid lightgreen;
    width:1030px;
} 

.mysection{
    font-family:'Times New Roman', Times, serif;
    margin: 37px auto;
    border: 3px solid greenyellow;
    width: 1200px;
    padding: 3px 90px;
    background-color: black;
    color: aqua;
    font-size: 18px;
    /* margin-left: 13px; */
    /* Writting the above line will overwrite the margin setting done above */
    padding-bottom: 50px;
    text-align: justify;
}

#name{
    padding-left: 240px;
    background-color: black;
    color: lightgreen;
    border: 2px solid green;
}

.btn:visited{
    color: black;
    background-color: wheat;
}

.btn:active{
    color: lightsalmon;
    background-color: black;
}

.btn{
    background-color: black;
    color: lightgreen;
    border: 1px solid aquamarine;
    cursor: pointer;  
    /* Making it so that the cursor becomes pointer when it hovers */
    padding: 6px;
    font-size: 13px;
    border-radius: 4px;
    float: right;
}

body{
    background-color: rgb(23, 35, 31);
}


a{
    text-decoration: none;
    /* To remove the underline coming below it */
}

.btn:hover{
    color:black;
    background-color: lightskyblue;
    transform: translateX(200px);
    /* To shift the button 15opx to the right on the hover */
}


#myArticle{
    border: 5px solid lightseagreen;
    padding-bottom: 6px;
    padding-top: 6px;
    /* margin: 200px 40px; */
}